* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #06141f;
}

.carousel {
  width: 90%;
  height: 800px;
  margin: 50px auto;
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.carousel-track {
  display: flex;
  transition: transform 0.4s ease;
}

.slide {
  min-width: 100%;
  text-align: center;
}

.slide img {
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.slide h3 {
  padding: 12px;
  font-size: 18px;
}

/* Buttons */
.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.6);
  color: #fff;
  border: none;
  font-size: 22px;
  padding:12px;
  cursor: pointer;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.btn:hover {
  background: rgba(0,0,0,0.8);
}
